%p
  = f.label :login 
  %br
  = f.text_field :login 
%p
  = f.label :formal_name
  %br
  = f.text_field :formal_name
%p
  = f.label :email
  %br
  = f.text_field :email 
%p
  = f.label :password
  %br
  = f.text_field :password 
%p
  = f.label :password_confirmation
  %br
  = f.text_field :password_confirmation 