.partners_wrap
  - if @partner_name == "johnspencer"
    = render :partial=>"john_spencer"
  - elsif @partner_name == "johnmayoras"
    = render :partial=>"john_mayoras"
  - elsif @partner_name == "ashleyhenderson"
    = render :partial=>"ashley_henderson"
  - elsif @partner_name == "pricekoch"
    = render :partial=>"price_koch"
  - elsif @partner_name == "andycornick"
    = render :partial=>"andy_cornick"
  
  - else 
    = render :partial=>"john_spencer"
    = render :partial=>"john_mayoras"
    = render :partial=>"ashley_henderson"
    = render :partial=>"price_koch"
    = render :partial=>"andy_cornick"
    
  %span 
    Professional photography by 
    %a{:href=>"http://www.alexisglenn.com/"} Alexis Glenn