= render :partial => @post 
%h2
  Comments
  %span{:style=>"font-size:12px;"}
    (
    = link_to 'Add Comment?', new_comment_path(:post=>@post), :class=>"facebox"
    )
  
- if @post_comments.empty?
  No Comments
- else
  - @post_comments.each do |comment|
    %div.blog_pad
      %strong
        Posted
        = time_ago_in_words(comment.created_at )
        ago
        - if comment.name
          %span 
            by 
            = h(comment.name)
        - else
          %span anonymously
      %div
        %i= comment.body
      %div
        - if logged_in?
          = link_to 'Edit', edit_comment_path(comment), :class=>"facebox"
          &nbsp; - &nbsp;
          = link_to 'Destroy', comment, :method => :delete, :confirm => "Are you sure?"
